<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        *{
            padding:0;
            margin: 0;
        }
        ul{
            list-style: none;
        }
        .checkAll-btn{
            padding:10px 0px;

        }
        .checkAll{
            border:1px solid #fff;
        }
        .checkAll ul{
            /*font-size:18px;*/
            padding-top: 10px;
			line-height:20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="checkAll" style="padding-left: 20px">
            <div class="checkAll-btn">
                <input type="checkbox" @click="selectAll" :checked="checked"/>全选
            </div>
            <hr>
            <ul style="margin-bottom: 20px">
                <li v-for="(item, index) in proData">
                    <input type="checkbox" :value="index" v-model="selectArr">{{item.name}}
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
    new Vue({
        el : "#app",
        data : {
            proData: [
                {"name": "张三"},
                {"name": "李四"},
                {"name": "王五"},
                { "name": "赵六"}
            ],
            selectArr: [],
            checked : false
        },
        methods: {
            selectAll(event){
                if (!event.currentTarget.checked) {
                    this.selectArr = [];
                } else { //实现全选
                    this.selectArr = [];
                    this.proData.forEach((item, i) =>{
                        this.selectArr.push(i);
                    });
                }
            }
        },
        watch : {
            selectArr(curVal){
                if(curVal.length == this.proData.length){
                    this.checked = true
                }else{
                    this.checked = false
                }
            }
        },
    })
</script>