<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><component-app3-preview></component-app3-preview></title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/preview-switch.css" />

</head>
<body>
<div id="app">
	    <span class="weui-switch" :class="{'weui-switch-on' : isChecked}" :value="value" @click="toggle" style="position:relative">
			<div v-if="isChecked && direction.length > 0" style="width:100%;height:100%;position:absolute;padding:0 5px;line-height:20px;color:#FFF;user-select:none">
				{{direction[0]}}
			</div>
			<div v-if="!isChecked && direction.length > 0" style="width:100%;height:100%;position:absolute;padding:0 5px;right:2px;line-height:22px;color:#7A7A7A;text-align:right;user-select:none">
				关{{direction[1]}}
			</div>
	    </span>
		<p>
			样式可根据自己的喜好自行修改哦!<br>即：修改代码展示部分的CSS样式即可
		</p>
</div>

<script src="js/vue.js"></script>
<script>
    new Vue({
        el:"#app",
        props: {
            value: {
                type: Boolean,
                default: true
            },
            text: {
                type: String,
                default: '开'
            }
        },
        data () {
            return {
                isChecked: this.value
            }
        },
        computed: {
            direction () {
                if (this.text) {
                    return this.text.split('|')
                } else {
                    return []
                }
            }
        },
        watch: {
            value (val) {
                this.isChecked = val
            },
            isChecked(val) {
                this.$emit('change', val);
            }
        },
        methods: {
            toggle() {
                this.isChecked = !this.isChecked;
            }
        }

    })
</script>
</body>
</html>