@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,a,img,ul,li,ol,dl,dt,dd,input{ padding:0; margin:0}
ul,ol{ list-style:none;}
img{ display:block; border:0;}
a{ font-size:12px;text-decoration:none; color:#6c6c6c;}
input{ outline:none;}
img{ display:block; border:0;}
body{ font-size:12px; color:black; background: #fff}
a{ font-size:12px;text-decoration:none; color:black;}
.l{ float:left;}
.r{ float:right}
.w{width:1200px;margin:0 auto}
header,nav,main,aside,article,footer,figure,figcaption,section{ display:block;}



















